<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <h2>Daftar Mahasiswa</h2> <br>
      <a href="/data-mahasiswa/add" class="btn btn-success badge">Tambah Mahasiswa</a> <br><br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">NIM</th>
            <th scope="col">Nama</th>
            <th scope="col">Kelas</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% dataMhs.forEach((mahasiswa, i )=> { x = i+1 %>
          <tr>
            <th scope="row"><%= x++ %></th>
            <td><%= mahasiswa.nim %></td>
            <td><%= mahasiswa.nama %></td>
            <td><%= mahasiswa.kelas %></td>
            <td><a href="/data-mahasiswa/<%=mahasiswa.nama%>" class="btn btn-success badge">Data</a></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>
